<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=400x400&sensor=false&zoom=15&maptype=roadmap&markers=#{@listing.latitude}%2C#{@listing.longitude}&key=#{ENV["google_map_api_key"]}" %>


<h2>Is this Address Correct? <%= @listing.address %> <%= @listing.city %> <%= @listing.state %> <%= @listing.zip_code %></h2>

<h2><a  class="btn btn-primary" href="/listings/<%= @listing.id %>/edit">Yes</a></h2>

